body {
    background-image: url('2.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #fff;
    overflow: auto; /* Aggiungi la barra di scorrimento */
}
#audio-background {
    position: absolute;
    top: -1000px; /* Sposta l'elemento fuori dallo schermo */
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#myCanvas {
    display: block;
}

#password-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#password-display {
    margin-bottom: 20px;
}

#numPasswords {
    width: 50px;
    padding: 5px;
}

#generateButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#generateButton:hover {
    background-color: #0056b3;
}
